* {
    margin: 0px;
}



header {
    background: #222;
    height: 75px;
}
header a button {
    background: #222;
    color: white;
    border: 1px #222 solid;
    margin: 15px 5px 0px 0px;
}
.header-img {
    float: left;
    width: 50%;
    text-align:left;
    margin: 10px 30px ;
}
nav {
   /* background-image: url(image/images.jfif);*/
    display: block;
    background-color: white;
    border: 1px white solid;
    height: 65px;
    position: sticky;
    top: 0;
    z-index: 1;

}
.nav-img {
    float: left;
    width: 50%;
    text-align:left;
    margin: 0px 30px ;
}
.nav-link button {
    padding:3px 10px;
    background-color: white;
    border: 1px white solid;
    margin: 13px 0px 0px;
}
.form-1 {
    position: relative;
    width: 800px;
    left: 300px;
    border: 1px solid rgb(11, 1, 46) ;
    border-radius: 20px;
    background: rgb(148, 157, 236);
    font-weight: bold;
    font-size: 17px;
    color: #000;



}
.form-1 input {
    border-radius: 10px;
}
.button-back {
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 1;
    width:20px;
    height: 30px;

}
.img-2{
    float: right;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    font-size: 20px;
    

}
footer a button {
    background: #222;
    color: white;
    font-size: 15px;
    border: 1px #222 solid;

}



